<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="IdiomaPreferido" value="Español"/>
    <!--<add key="srvIdexSemanticIoT.WSSemanticSearch" value="http://localhost/SemanticSearchIoT/WSSemanticSearch/WSSemanticSearch.asmx"/>-->
    <add key="srvIdexSemanticIoT.WSSemanticSearch" value="http://localhost:17864/WSSemanticSearch.asmx"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=BDIndiceIot;User ID=saiot; Password=MiceM1" providerName="System.Data.SqlClient"/>
    <!--<add name="LocalSqlServer" connectionString="Data Source=DECAFIET\SQLEXPRESS;Initial Catalog=BDIndiceIot;User ID=saiot; Password=MiceM1" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <roleManager enabled="true"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Forms"/>
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Management" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.42.0.3" newVersion="0.42.0.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Remoting" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime.JNI" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.44.0.5" newVersion="0.44.0.5"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.AWT.WinForms" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.3.4830.0" newVersion="7.3.4830.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>