<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://semanticsearchiot.net/sswot/WebServiceExpansionConsulta/ExpancionConsulta.asmx</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>semanticsearchiot.net</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <FtpSitePath>/sswot/WebServiceExpansionConsulta</FtpSitePath>
    <UserName>semantics</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConexionMsec-Web.config Connection String">
      <ParameterValue>Data Source=DECAFIET\SQLEXPRESS;Initial Catalog=BDIndiceIot;User ID=saiot; Password=MiceM1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>